estoqueWS/EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AuthorizationFault" nillable="true" type="tns:infoFault"/>

      <xs:element name="cadsdtrarItens" type="tns:cadsdtrarItens"/>

      <xs:element name="cadsdtrarItensResponse" type="tns:cadsdtrarItensResponse"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="itens" type="tns:itens"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="todosOsItens" type="tns:todosOsItens"/>

      <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="todosOsItens">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itens">
        <xs:sequence>
          <xs:element name="itens" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="tipo" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cadsdtrarItens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cadsdtrarItensResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoFault">
        <xs:sequence>
          <xs:element name="msg" type="xs:string" minOccurs="0"/>
          <xs:element name="dateError" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Computador"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="todosOsItens">
    <part name="parameters" element="tns:todosOsItens"/>
  </message>
  <message name="todosOsItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <message name="cadsdtrarItens">
    <part name="parameters" element="tns:cadsdtrarItens"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="cadsdtrarItensResponse">
    <part name="result" element="tns:cadsdtrarItensResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="todosOsItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"/>
    </operation>
    <operation name="cadsdtrarItens" parameterOrder="parameters tokenUsuario">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadsdtrarItensRequest" message="tns:cadsdtrarItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadsdtrarItensResponse" message="tns:cadsdtrarItensResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadsdtrarItens/Fault/AuthorizationException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cadsdtrarItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:cadsdtrarItens" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

